<div class="row" id="bestArticles">
  <div class="large-12 columns">
	<h3>Read my best articles:</h3>
  </div>
  <div class="large-3 columns">
    
	<a href="/post/achieving-flow-state">
	  <img src="/static/img/blog_header/startup-ideas.png" alt="Inventing Startup Ideas">
	</a>
	
	<a href="/post/achieving-flow-state">
	  <h4>GTD: The flow state</h4>
	</a>
    
	<p>Learn how to enter the state of flow - state of extreme productivity,
      complete engagement, and full immersion into what you're doing.</p>

	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/inventing-startup-ideas">Read More</a>
	</span>
    
  </div>
  
  <div class="large-3 columns">
    
	<a href="/post/thinking-tools-how-use-your-mind-solve-challenges">
	  <img src="/static/img/blog_header/creativeThinkingTools.jpg" alt="Creative thinking tools">
	</a>
    
	<a href="/post/thinking-tools-how-use-your-mind-solve-challenges">
	  <h4>Thinking Tools for Entrepreneurs</h4>
	</a>
    
	<p>Learn the creative thinking tools you need to use to invent ideas and solve challenges on your path to becoming a great entrepreneur</p>
	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/creative-thinking-tools">Read More</a>
	</span>
    
  </div>
  
  <div class="large-3 columns">
    
	<a href="/post/best-startup-books">
	  <img src="/static/img/blog_header/rework.png" alt="Best startup books">
	</a>
    
	<a href="/post/best-startup-books">
	  <h4>Best startup books</h4>
	</a>
    
	<p>This is the collection of my top-favorite best startup books.
      They're must read for everyone interested in entrepreneurship and business.</p>
	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/best-startup-books">Read More</a>
	</span>
    
  </div>
  
<!--  <div class="large-3 columns">
    
	<a href="/post/artificial-neural-network-tutorial">
	  <img src="/static/img/blog_header/artificial-neural-networks.png" alt="Entrepreneurhsip quotes">
	</a>
    
	<a href="/post/artificial-neural-network-tutorial">
	  <h4>ANN tutorial</h4>
	</a>
    
	<p>This is a series of posts on Artificial Neural Networks.
      Learn everything you need to know to make basic ANN
	  - from neuroanatomy to coding it in lisp.</p>

	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/entrepreneurship-quotes.html">Read More</a>
	</span>
    
  </div>			-->

<div class="large-3 columns">
    
	<a href="/post/how-can-i-promote-my-blog">
	  <img src="/static/img/blog_header/analytics.png" alt="Promote blog and
                                                            drive traffic">
	</a>
    
	<a href="/post/how-can-i-promote-my-blog">
	  <h4>Q/A: How can I promote my blog?</h4>
	</a>
    
	<p>Learn the great and very simple strategy to drive traffic to your
	website. It is the best way to get started promoting your website.</p>

	<span class="read-more">
	  <a class="button small readMore"
		 href="/post/how-can-i-promote-my-blog">Read More</a>
	</span>
    
  </div>
</div>
