{% extends "base_template.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}

<div id="page"  class="blogPage">
{#{% include 'blog_header.html' %}#}
<div class="row">
    <div class="large-9 columns">
      <!-- <div style="height:45px;"></div> -->
        <h2 id="blogTitle"> Blog </h2>
        <hr />

        {% if posts %}
            {% for post in posts %}
            <article>
                <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                <p>{% autoescape off %}{{ post.body|truncatewords:"150" }}{% endautoescape %}</p>
                <a href="{{ post.get_absolute_url }}"><span id="readmore">>>> readmore</span></a>
            </article>
            {% endfor %}
        {% else %}
            <p>There are no posts.</p>
        {% endif %}
        
        <!-- Pagination -->
        {% for page in numberOfPages %}
    		<div class="pageLink"><a href="?page={{page}}">{{page}}</a></div>
    	{% endfor %}

        </div>
{% include 'sidebar.html' %}    
</div>

<!-- Remove top call to action -->
<script>
  $('#topCallToAction').css('height','4px');
  $('#topCallToAction').css('padding','0');	
  $('#topCallToAction').find('.row').remove();

			$("#mainMenu").find('ul').find('li').find('ul').parent().hover(function(){
				$("#mainMenu").find('ul').find('li').find('ul').find('li').css("display","block");
			});	
			
			$(".row").hover(function(){
				$("#mainMenu").find('ul').find('li').find('ul').find('li').css("display","none");
			});	
	        
			$("#mainMenu").find('ul').find('li').find('ul').find('li').hover(function(){
				$(this).parent().find('li').css("background-color","#222222");		
				$(this).css("background-color","#f76301");
			});	
	        
			$('#downArrows').on('click',function(){
				$('#dropdownMenu').slideToggle('fast');
			});  
</script>

    <script>
        $(document).foundation();

        $(window).load(function() {
			$('#featuredContent').orbit({ captions: false, bullets: false});
	    });
    
	    $(document).ready(function() {
			$('#topCallToAction').css('height','4px');
			$('#topCallToAction').css('padding','0');	
			$('#topCallToAction').find('.row').remove();
        
			$("#mainMenu").find('ul').find('li').find('ul').parent().hover(function(){
				$("#mainMenu").find('ul').find('li').find('ul').find('li').css("display","block");
			});	
			
			$(".row").hover(function(){
				$("#mainMenu").find('ul').find('li').find('ul').find('li').css("display","none");
			});	
	        
			$("#mainMenu").find('ul').find('li').find('ul').find('li').hover(function(){
				$(this).parent().find('li').css("background-color","#222222");		
				$(this).css("background-color","#f76301");
			});	
	        
			$('#downArrows').on('click',function(){
				$('#dropdownMenu').slideToggle('fast');
			});
	    });
    </script>

{% endblock %}



