{% extends "base_template.html" %}
{% load cms_tags menu_tags sekizai_tags %}



{% block head %}
<!DOCTYPE html>

	<title> Digital Mind </title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">    
    <meta property="og:image" content="http://digital-mind.co/media/logo2.png" />

	<link rel="stylesheet" href="/static/landing/css/landing.css" />

     <script src="http://code.jquery.com/jquery-latest.min.js"></script>
     <script src="/static/landing/js/jquery.min.js"></script>   


	<!-- CAROUSEL -->
	<link rel="stylesheet" href="/static/landing/js/carousel/css/rcarousel.css" />
    
    <!-- JWPlayer -->
    <script src="http://jwpsrv.com/library/Mk9reu+0EeOMGiIACyaB8g.js"></script>

    <!-- Flowplayer -->
       <!-- player skin -->
   <link rel="stylesheet" type="text/css"
      href="//releases.flowplayer.org/5.4.6/skin/minimalist.css">
   
   <style>
   /* custom player skin */
   .flowplayer { width: 80%; background-color: #222; background-size: cover; max-width: 800px; }
   .flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
   .flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
   .flowplayer .fp-progress { background-color: rgba(77, 87, 100, 1)}
   .flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
   .flowplayer {
   background-image: url(/static/landing/img/vid3.png)}

   </style>

   <!-- flowplayer depends on jQuery 1.7.1+ -->
   <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

   <!-- flowplayer javascript component -->
   <script src="//releases.flowplayer.org/5.4.6/flowplayer.min.js"></script>

{% endblock %}

   
{% block base_content %}
<div id="featuredContent" data-orbit>
  <a href="/post/artificial-neural-network-tutorial">
    <img width=100% src="/static/img/neuron2.png" />
  </a>
<!--<a href="/post/social-engineering-basics.html">
    <img width=100% src="/static/img/socialEngineering.png" />
  </a>  -->
</div>

<!-- Forum<div id="frontpageCallToAction">
  <div class="row">
	<div class="large-12 columns">
	  <span class="message">
        Want to join our community and post on the 
		<a id="CTAOrange" href="http://digital-mind.co/main/"> forum </a>?
	  </span>
	  <a href="http://digital-mind.co/accounts/register/" class="button">Join Now</a>
	</div>
  </div>    
</div>
-->


<!-- Webdev video banner -->
{# {% include 'banners/webdev_video.html' %} #}


<div id="frontpage">
<div id="frontpageCategories" >
  
	<div class="frontpage row">
      {# {% include 'top_banner.html' %} #}
	  <header>
        <h2 ><span class="first-word"></span> Best Articles</h2>
      </header>
      
      <style> #bestArticles h3 {display:none;}</style>
      {% include 'best_articles.html' %}
      
<!-- New Articles
	 <header>
        <h2 ><span class="first-word">New</span> Articles</h2>
      </header>
	</div>
    
	<div class="frontpage row categories">
	  <div class="large-4 columns">
		<header><a href='/categories/main/ormind.html'><h4>Essays and Ideas</h4></a></header>
		<a href="/post/learning-principles.html"><h5>Learning Principles</h5></a>
		<p>Here are my favorite principles of learning,
          ideas that will help you to acquire skill
          in the fasters and most efficient way.</p>
		<a href="/post/learning-principles.html"><span class='readmore'>read more >></span></a>
	  </div>
      
	  <div class="large-4 columns">
		<header><a href='/categories/main/startup.html'><h4>Entrepreneurship</h4></a></header>
		<a href="/post/inventing-startup-ideas.html"><h5>Inventing Startup Ideas</h5></a>
		<p>You wanna know how to invent cool startup ideas?
          There you go. </p>
		<a href="/post/inventing-startup-ideas.html">
          <span class='readmore'>read more >></span>
        </a>
	  </div>
      
	  <div class="large-4 columns">
		<header><a href='/categories/main/tutorials.html'><h4>Technology</h4></a></header>
		<a href="/post/5-ways-upgrade-your-raspberry-pi.html"><h5>Upgrading Raspberry Pi</h5></a>
		<p>So, here’s the review of 5 cool ways to improve
          your Raspberry Pi(upgrade it's case and some hardware):</p>
		<a href="/post/5-ways-upgrade-your-raspberry-pi.htmll">
          <span class='readmore'>read more >></span>
        </a>
	  </div>    
	</div>
  </div>  
-->
<!-- Videos -->
<div class="frontpage row">
	<header><h2 ><span class="first-word"></span> New Videos </h2></header>
  </div>		
  <div class="frontpage row categories" style="height:250px;">
	<div class="large-4 columns">
	  <header><h4>Take Massive Acition</h4></header>
	  <p><a href="http://digitalmind.io/post/best-way-to-learn">
          <img src="/media/images/video_thumbnails/take-massive-action.png"/>
      </a></p>
	</div>

	<div class="large-4 columns">
	  <header><h4>Are you an entrepreneur?</h4></header>
	  <p><a href="/post/become-entrepreneur">
          <img src="/media/images/video_thumbnails/become-entrepreneur.png"/>
      </a></p>
	</div>

	<div class="large-4 columns">
	  <header><h4>Brain Anatomy</h4></header>
	  <p><a href="/post/brain-lobes-and-functions">
          <img src="/media/images/video_thumbnails/brain-lobes.png"/>
      </a></p>
	</div>
    
  </div>


<div class="row" style="height:20px;"></div>

<!-- Updates
<div class="frontpage row">
	<header><h2 ><span class="first-word"></span> Updates </h2></header>
  </div>		
  <div class="frontpage row categories">
	<div class="large-4 columns">
	  <header><a href='/categories/main/ormind.html'><h4>Best posts</h4></a></header>
	  <ul>
		<li><a href="/post/learning-principles.html"><> Learning Principles</a></li>
		<li><a href="http://digital-mind.co/post/brain-lobes-and-functions"><> Brain Lobes and their functions</a></li>
		<li><a href="/post/hy-language-python-lisp"><> Hy Language. Lisp in python.</a></li>
		<li><a href="/post/atlas-shrugged-quotes.html/"><> Atlas Shrugged Quotes</a></li>
		<li><a href="/post/artificial-neural-network-tutorial"><> Artificial neural network tutorial</a></li>
	  </ul>
	</div>

	<div class="large-4 columns">
	  <header><a href='/categories/main/startup.html'><h4>Cool forum threads</h4></a></header>
	  <ul>
		<li><a href="/thread/6/">Achieving the flow [Article Discussion]</a></li>
		<li><a href="/thread/3/">Principles of learning [Article Discussion]</a></li>
		<li><a href="/thread/2/">Modeling Procedural Gear [tutorial]</a></li>
		<li><a href="/thread/4/">Inventing Startup Ideas [Article Discussion]</a></li>
	  </ul>
	</div>

	<div class="large-4 columns">
	  <header><a href='http://www.youtube.com/user/digitalmindco'><h4>New video</h4></a></header>
	  <p><iframe allowfullscreen="" frameborder="0" height="180" mozallowfullscreen="" src="//player.vimeo.com/video/86785384?title=1&amp;byline=0&amp;portrait=0&amp;color=f76301;" webkitallowfullscreen="" width="320"></iframe></p>
	</div>    
  </div> -->
<div class="row" style="height:20px;"></div>
<!-- Product
<div class="row product">
	<div class="panel">
	  <a href="http://digital-mind.co/products/"><img src="/static/img/insightAd.png"/></a>
	</div>
	<a href='/products'><h3>Orange Insight</h3></a>  
	<p>In this short ebook you will find information about
      how to find your path and meaning in life,
      how to improve your personality and self image,
      and how to learn and achieve mastery at what you do.</p>
  </div>
</div>
-->
</div>
    







<script>
  $(document).ready(function() {
  	$("#arrow").remove();
  	$("#bottomCallToAction").remove();
  	$(".orbit-bullets").remove();

  $('#topCallToAction').css('height','4px');
  $('#topCallToAction').css('padding','0');	
  $('#topCallToAction').find('.row').remove();
  
  });
</script>
{% endblock %}
