{% extends "base_template.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}




{% placeholder Main_template_content %}
<div id="featuredContent" data-orbit style="max-heigth:300;">
      <div style="width=100%;">
	    <a href="/post/neuroscience-ai.html"><img width=100% src="/static/img/neuron2.png" /></a>
	        </div>
          <div>
	        <a href="/post/social-engineering-basics.html"><img width=100% src="/static/img/socialEngineering.png" /></a>
		    </div>
	  </div>
</div>

<script>
$("#arrow").remove();
</script>
{% endblock %}
