<div class="row">
  <div class="post-footer-signup panel">
    <p>Liked this post? Signup to updates!</p>
    
    <div id="mc_embed_signup" style="/* margin-left:60; */float: right;">
      <form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=ec535fdd6a" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
        <div class="mc-field-group">
          <input class="required email"
                 id="mce-EMAIL"
                 name="EMAIL"
                 placeholder="Enter your email"
                 type="email"
                 value="" />
          <input class="small button"
                 id="subscribeButton"
                 name="subscribe"
                 type="submit"
                 value="Signup!"/>
        </div>
        
        <div class="clear" id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none">&nbsp;</div>
          <div class="response" id="mce-success-response" style="display:none">&nbsp;</div>
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'best_articles.html' %}
