{% extends "base_template.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block title %}
<title> {{ post.title }} - Digital Mind Blog </title>
{% endblock %}

{% block base_content %}
<div id="page"  class="postPage">
  {#{% include 'top_banner.html' %}#}
  <div class="row">
    <div class="large-9 columns"> <!-- uncomment to include sidebar -->
    <!-- <div class="large-12 columns"> -->
      <h2 id="blog"> Blog </h2>
      <hr /> 
      
      <h1>{{ post.title }}</h1>
      
      <p >{% autoescape off %}{{ post.body }}{% endautoescape %}</p>
      
      {% include 'post_footer.html' %}

      {# {% include 'top_banner.html' %} #}

      {% include 'post_comments.html' %}
      
    </div>
    {% include 'sidebar.html' %} <!-- Uncomment to include sidebar -->      
  </div>

</div>    
{% endblock %}
