{% extends "base_template.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}


<div id="page">
<div class="row">
  <div class="large-8 columns">
    <h2>{% page_attribute page_title %}</h2>
    <span id="breadcrumb">{% show_breadcrumb %}</span>
    <hr />
    {% placeholder Main_template_content %}

{% block content %}
{% endblock %}
    <article>
      <h3> Orange Insight </h3>
      <img src="/static/img/orangeInsightBookBG.png" style="float:right;"/>
          
      <p>In this short ebook you will find information about how to find your path and meaning in life, how to improve your personality and self image, and how to learn and achieve mastery at what you do. It consists of 3 parts:</p>
      
      <h4>Path</h4>
      <p>
	For a long time I was struggling to find my purpose and passion in life.

	Finally I've figured it out, and now I know how it's done, so I wanna to share this information with you.
	</p>

      <p>In this part you will find ideas guide you will find ideas that will help you to:
	<ul>
	  <li>Discover your purpose in life</li>
	  <li>Choose profession that matters to you</li>
	  <li>Understand how to find your passion</li>
	  <li>Figure out what do you wanna to do with your life</li>
	  </ul>
	</p>

      
      <h4>Identity</h4>
      <p>
	This part contains the information about achieving the deep identity-level change. The advices contained in it are the result of my long, increasingly sucessfull struggle to become a completely different person and to live up to my ideals.
	</p>
      <p>
	It is a huge topic, but I've collected the best isights that I've had over the years about
      </p>
      <ul>
	<li>Changing your identity.</li>
	<li>Upgrading your self image and developing self esteem.</li>
      </ul>
      </p>
<h4>Mastery</h4>
<p>
  In this part you’ll find a collection of advices about learning, achieving your goals and developing mastery.
It contains ideas and methods that I’ve learned and developed, and now wanna to share with you.
</p>
<p>
  It contains ideas about:
</p>
<ul>
  <li>Setting goals and developing habits</li>
  <li>Getting into the flow</li>
  <li>Learning skills</li>
  <li>Optimizing your time</li>
  </ul>
</article>


<article>
  <hr />  
  <a href="http://digital-mind.co/visionary/"><h3> Visionary (in development)</h3></a>
</article>






</div>
<div class="large-3 columns">
  <aside style="margin-bottom:0;">
    <br/>
    <br/>
    <br/>
    <h5>Get free chapters:</h5>
    <p>Read the 3rd part of this ebook that contains advices about learning, achieving mastery, and getting into the flow state</p>
    <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=ec535fdd6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
<div class="mc-field-group">
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="your name.."/>
</div>
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your email..">
</div>
<div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
</div><div class="clear"><input type="submit" value="Download" name="subscribe" id="mc-embedded-subscribe" class="small button"></div>
</form>
</div>

<!-- end mailchimp -->
  </aside>
  <aside style="margin-top:0;">
    <h5>Or buy the full verion:</h5>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="W6UMF45VK4BEQ">
      <input type="submit" class="button" border="0" name="submit"
	     value="PayPal"
	     style="box-shadow:none; top:1;">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

    </aside>

  </div>        
</div>


</div>


{% endblock %}
