
<div class="large-3 columns">
  <div id="sidebar">    
    <aside>
	  <h5> Get updates: </h5>
	  <!-- Begin MailChimp Signup Form -->
	  <div id="mc_embed_signup subscribe-mc">
	    <form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=ec535fdd6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		  
		  <div class="mc-field-group">
		    <input type="email"
                   value=""
                   name="EMAIL"
                   class="required email"
                   id="mce-EMAIL"
                   placeholder="your email..">
		  </div>
		  <div id="mce-responses" class="clear">
		    <div class="response" id="mce-error-response" style="display:none"></div>
		    <div class="response" id="mce-success-response" style="display:none"></div>
		  </div>
          
          <div class="clear">
            <input type="submit"
                   value="Subscribe to newsletter"
                   name="subscribe"
                   id="mc-embedded-subscribe"
                   class="small button"></div>
          <!-- <p id="and-get-free-ebook">and get a free ebook about achieving mastery</p> <br /> -->

          <!-- G+ Follow
          <p id="or-follow-me">Or follow me on google+ :</p>
		  <div class="g-follow" data-annotation="bubble" data-height="24" 
			   data-href="//plus.google.com/116534814104943207126"
               data-rel="author"
               style="margin:10;"></div>  -->
		  
		  <!-- Place this tag after the last widget tag.
		  <script type="text/javascript">
		    (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		    })();
		  </script>	
          <!-- G+ Follow END -->        
	    </form>
	  </div>
    </aside>

    {% include 'banners/webdev.html' %}    

    <aside id="bestPosts">
      {% include 'best_articles_sidebar.html' %}
    </aside>

<!--    <aside>
	  <h5> Get my new book for free: </h5>
	  <img src="/media/images/sidebar/mastery.png"/>
	  <!-- Begin MailChimp Signup Form -->
	  <!-- <div id="mc_embed_signup">
	    <form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=ec535fdd6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		  
		  <div class="mc-field-group" id="sidebar-mastery-email">
		    <input type="email"
                   value=""
                   name="EMAIL"
                   class="required email"
                   id="mce-EMAIL"
                   placeholder="enter your email here">
		  </div>
          
		  <div id="mce-responses" class="clear">
		    <div class="response" id="mce-error-response" style="display:none"></div>
		    <div class="response" id="mce-success-response" style="display:none"></div>
		  </div>
          <div class="clear"></div>
          <input type="submit"
                 value="Read it now"
                 name="subscribe"
                 id="mc-embedded-subscribe"
                 class="small button"></div>
	  </form>
  </div> -->
  <!-- end mailchimp -->
  </aside>  
  



<!--  <aside class="banner">
    <h5>AI and Machine Learning</h5>
    <a href="/services/artificial-intelligence-and-machine-learning/"><img src="/media/images/sidebar/ml.png"/></a>
    <p>Do you need to analyze your data, create AI/ML algorithm, or develop an online application for your startup? Contact me <a href="/services/artificial-intelligence-and-machine-learning/">here</a> and get a free consultation about any AI/ML project you have in mind.</p>
  </aside>  -->
    
  
  <!-- <aside id="categories">
	<h5>Categories</h5>
	<div class="large-12 columns">
	  <ul style="list-style-type:none;" >
		{% for category in categories %}
		<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
		{% endfor %}
	  </ul>
	</div>
  </aside> -->

  
  <!-- <aside id="visionary" class="banner">
    <h5>Visionary</h5>
    <a href="http://digital-mind.co/visionary/"><img src="/static/img/visionary01.png" style="width:95;float:left; margin:10px;"/></a>
    <p><a href="http://digital-mind.co/visionary/">Online mindmapping tool for creators</a></p>
  </aside> -->
  
  
  <!--    <aside class="banner">
    <h5>Blueprint</h5>
    <a href="http://www.blueprintdecoded.com/new/?source=92975"><img src="/media/images/sidebar/blueprint.jpg"/></a>
    <p>Personal development course that changed my life.</p>
  </aside>   

  
  <aside class="banner">
    <h5>Atlas Shrugged</h5>
    <a href="http://www.amazon.com/gp/product/0452011876/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0452011876&linkCode=as2&tag=digimind09-20"><img src="/media/images/sidebar/atlas.jpg"/></a>
    <p>Best book I've ever read.</p>
  </aside>     --> 

  
  <!-- <script>
    $(".banner").hide();
    var banners = $("aside.banner").get().sort(function(){ 
    return Math.round(Math.random())-0.5; //so we get the right +/- combo
    }).slice(0,2);
    $(banners).show();            
    
    });
  </script>-->
  
  
</div>        
</div>
</div>

