<div class="row" id="blogHeader">
  <div class="large-4 columns" id="book">
	<h4>Read my new book about achieving mastery</h4>
	<p id="bookDescription">
	  And learn how to set better goals, solve problems,
      develop skills and become amazing at what you do. <br />
      It will help you to to create awesome things and become a great
      entrepreneur and a hacker much faster.
      <br />
	  <!-- Enter your email and read it for free: -->
	</p>
    
	<!-- mailchimp -->		
	<div id="mc_embed_signup">
	  <form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=ec535fdd6a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		
		<div class="mc-field-group">
		  <input type="email"
                 value=""
                 name="EMAIL"
                 class="required email"
                 id="mce-EMAIL"
                 placeholder="enter your email here">
		</div>
		<div id="mce-responses" class="clear">
		  <div class="response" id="mce-error-response" style="display:none"></div>
		  <div class="response" id="mce-success-response" style="display:none"></div>
		</div>
        <div class="clear">
          <input type="submit"
                 value="Read it now"
                 name="subscribe"
                 id="mc-embedded-subscribe"
                 class="small button">
        </div>
	  </form>
	</div>
	<!-- end mailchimp -->		
	
  </div>
  <div class="large-8 columns" id="imageBanner">
	  <a href="/services/">
		<img width=100% src="/static/img/blog_header/banner.png" />
	  </a>		
  </div>
</div>

<script>
  $(document).ready(function() {
  $(".orbit-bullets").remove();
  
  //doesn't seem to give a fuck about that:
  $(document).foundation('orbit', {
  timer_speed: 10,
  timer: true
  });
  });
</script>


