{% extends "base_template.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
<div id="page">
<div class="row">
  <div class="large-12 columns">
  <h3>Forum</h3>
<!--    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
        .title { font-size: 1.4em; margin-top: 10px; border-bottom: 0px solid #ccc; padding-left: 4px; }
        .last { border: 0px; }
        .title a { text-decoration: none; }
        .button { background: #999; color: white; padding: 4px; text-decoration: none; }

        td { border-bottom: 1px solid #ccc; }
        #list { border: 1px solid #ccc; width: 700px; }
    </style> -->
    <style>
    	#list .button {box-shadow:	0 0 0;}
    </style>
    
     <!-- MENU -->
     <div id="loginMenu">
                {% if user.is_staff %} <a href="{% url "admin:index" %}">Admin</a> {% endif %}
                {% if user.is_authenticated %}
{#                    <a href="{% url "forum.views.profile user.pk" %}">Edit profile</a>  #}{% endif %}      

                {% if not user.is_authenticated %}<a href="/accounts/login/?next=/main/">login</a> | <a
                    href="/accounts/register/">register</a>{% endif %}

                {% if user.is_authenticated %}<a href="/accounts/logout/?next=/main/">logout</a>
                    {% endif %}
     </div>
     <!-- END MENU -->
    
        <div id="list">
        <table border="0" cellpadding="4" width="100%">
            <tr>
                <td></td>
                <td>Posts</td>
                <td>Last post</td>
                <td></td>
            </tr>

            <!-- Forums  -->
            {% for forum in forums %}
            <tr>
                <td {% if forloop.last %}class="last"{% endif %}>
                <div class="title"> <a href="{% url 'forum.views.forum' forum.pk %}">{{ forum.title }}</a>
                    </div></td>
                <td {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
                <td {% if forloop.last %}class="last"{% endif %}>
                    {{ forum.last_post.short|linebreaksbr }}</td>
                <td {% if forloop.last %}class="last"{% endif %}>
                    <a class="button" href="{% url 'forum.views.forum' forum.pk %}">VIEW</a>
                </td>
            </tr>

            {% endfor %}
        </div>
        </table>
</div>
</div>

</div>
{% endblock %}





