<?php include('templates/header.php');?>
<?php include('templates/sidebar.php');?>
<div id="content">
     <article>
		+/- [16] Share
		<header> <h4> Google Glasses Stylus. </h4></header>
		<p> Stylus that paints in augmented reality by tracking tip of the pen with camera and sending
		pressure information via bluetooth </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [15] Share
		<header> <h4> Education online. fuck university. Hollywood level. </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [14] Share
		<header> <h4> UDOO. Book of learning projects. </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [13] Share
		<header> <h4> Web20 for collaborative creation. </h4></header>
		<p> Get in. Find tutorials>parts>projects to participate in> make your own > investors/founders.  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [12] Share
		<header> <h4> Club for makers. </h4></header>
		<p> The only aspect of edu that isn't dumb - networking.  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [11] Share
		<header> <h4> aggregator of social media, </h4></header>
		<p> single interface for all you do/recheck on the web. //RSS? no, just register, connect accounts, and it's working.  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [10] Share
		<header> <h4> 30 day challenge android app</h4></header>
		<p>  that doesnt suck  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [9] Share
		<header> <h4> standalone Wordpress blogging network! </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [8] Share
		<header> <h4> Board printing kit. </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [7] Share
		<header> <h4> Thinking tools. </h4></header>
		<p> Ideas hub - start with it, put on main page, that's what it is)  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [6] Share
		<header> <h4> Food that contains it all. </h4></header>
		<p> like power bar, but with all you need per day.  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [5] Share
		<header> <h4> perfect topology app. </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [4] Share
		<header> <h4> Modern musical instrument. </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [3] Share
		<header> <h4> tablet that doesn't suck.</h4></header>
		<p>  cintique meets laptop. VERY needed.  </p>
		<footer>Comments</footer>
	</article>
	
	<article>
		+/- [2] Share
		<header> <h4> Bishop style rig. </h4></header>
		<p>  </p>
		<footer>Comments</footer>
	</article>

	
	<article>
		+/- [17] Share
		<header> <h4> Singularity Story </h4></header>
		<div class="image"><img src="img/characters.jpg" /></div>
		<footer>Comments</footer>
	</article>


</div>		
<?php include('templates/footer.php');?>
