<html>

	<head>
	
		<title>Orange Mind</title>
		
		<!-- load my css and scripts -->
		<link rel="stylesheet" href="css/style.css"/>
		<script src="js/script.js"></script>
		
		<!-- load jquery -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script> 



</head>
<body>
<!--	<div id="topNav">
		<ul id="xsitesNav">
			<li> Orange Insight </li>
			<li> Orange Tech </li>						
		</ul> 
		<ul id="loginSignup">
			<li> Login </li>
			<li> Sign up </li>						
		</ul>	-->		
	</div>
<div id="main_wrapper">

	<header>
	<h1>Orange Mind</h1>
	</header>
	<nav>
		<ul>
			<li> <a href="index.php"> Home </a> </li>
			<li> <a href="stream.php"> Stream </a></li>			
<!--		<li> <a href="index.php"> Top </a> </li>					-->
			<li> <a href="submit.php"> Submit </a> </li>		
<!--		<li> <a href="index.php"> Visinary </a> </li>				-->
		</ul>
		
	</nav>