<aside class='sidebar'>
	<section id="widget_1"> 
		<h4> Categories </h4>
		<ul id="categories">
			<li> Startup </li>
			<li> Invention </li>
			<li> Humor </li>			
		</ul>
	 </section>
	 
    <section id="widget_2"> 
    	<h4> Top </h4> 
    	<ul id="categories">
			<li> All time </li>
			<li> Year </li>
			<li> Month </li>
			<li> Week </li>			
		</ul>
    </section>
    
    <section id="widget_3"> 
    	<h4> Challenge </h4>
    	Current Theme:
    	<p>Tool for makers.</p>
    </section>
    
</aside>