<!-- WEBDEV -->
<style>
#dev-wrapper h1 {
margin:0;
margin-bottom: 20px;
}

#cta {
padding-left: 32px;
}
#cta h2 {
margin:0;
font-size:15px;

}
  
#dev-wrapper .button {
width:100%;
border-radius:0;
margin:0;
}

#mce-EMAIL {
margin-top: 40px;
margin-bottom: 0px;
}

#greatWebsite {
color: white;
font-family: "Titillium Web";
font-weight: normal;
text-transform: none;
text-shadow: none;
color:#ff6600;
font-size: 28px;
}


#contact h2, .selected a,#greatWebsite {
color: #00b200;
}



#topCallToAction {
background-color: #00b200;
height: 4px; padding: 0px;
}

.button.small, #dev-wrapper .button {
background-color: #008c39;
}

aside h5 {
color: #00b200;
}

</style>
<div id="dev-wrapper">
  <div id="upper-bg">
    <div id="contact">
      <div class="row">
        <div class="large-8 columns" id="video"> 
          <!-- Flowplayer 
               <div class="flowplayer" data-rtmp="rtmp://rtmp.flowplayer.org/cfx/st/" data-ratio="0.5625">
                 <video>
                   <source type="video/webm" src="http://drive.flowplayer.org/182388/17910-02ad01.webm">
                     <source type="video/mp4" src="http://drive.flowplayer.org/182388/17910-02ad01.mp4">
                       <source type="video/flash" src="mp4:182388/17910-02ad01.mp4">
                 </video>
               </div>-->
          
          <!-- JWPlayer
               <div id='player8uRNdL9Y'></div>
               <script type='text/javascript'>
                 jwplayer('player8uRNdL9Y').setup({
                 playlist: '//jwpsrv.com/feed/8uRNdL9Y.rss',
                 width: '100%',
                 aspectratio: '16:9'
                 });
               </script>  -->
          
          <!-- Wistia  -->
          <iframe src="//fast.wistia.net/embed/iframe/024n7k7l39?videoFoam=true"
                  allowtransparency="true" frameborder="0" scrolling="no"
                  class="wistia_embed" name="wistia_embed" allowfullscreen
                  mozallowfullscreen webkitallowfullscreen oallowfullscreen
                  msallowfullscreen width="640"
                  height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>

          <!-- Wistia  old <iframe src="//fast.wistia.net/embed/iframe/fk4zl16v5c?videoFoam=true"
                  allowtransparency="true" frameborder="0" scrolling="no"
                  class="wistia_embed" name="wistia_embed" allowfullscreen
                  mozallowfullscreen webkitallowfullscreen oallowfullscreen
                  msallowfullscreen width="640"
                  height="360"></iframe>
          <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>  -->
          
          <!--<img src="/static/landing/img/vid3.png" style="width:100%;" />-->
	    </div>
        <div id="cta" class="large-4 columns">
    	  <h1>Hi! Do you love making <br/>
            <span id="greatWebsite">online videos</span>?
            Do you want to become a great and popular content creator?</h1>
    	  <h2>Join the video sharing revolution!</h2>
          
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=6ff5b6b5aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div class="mc-field-group">
	            <input type="email" value="" name="EMAIL" class="required email"
                       id="mce-EMAIL"
                       placeholder="enter your email.."> 
              </div>
	          <div id="mce-responses" class="clear">
		        <div class="response" id="mce-error-response" style="display:none"></div>
		        <div class="response" id="mce-success-response" style="display:none"></div>
	          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_0f23c7984541d915d1108a16e_6ff5b6b5aa" tabindex="-1" value=""></div>
              <div class="clear">
                <input type="submit"
                       value="Subscribe →" name="subscribe"
                       id="mc-embedded-subscribe" class="button"></div>
              
            </form>
          </div>
          <!--End mc_embed_signup -->


          <!-- Begin MailChimp Signup Form 
          <div id="mc_embed_signup">
            <form action="http://digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=cea96e36b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	          
              <div class="mc-field-group">
	            <input type="email" value="" name="EMAIL" class="required email"
                       id="mce-EMAIL"
                       placeholder="enter your email.."> 
              </div>
	          <div id="mce-responses" class="clear">
		        <div class="response" id="mce-error-response" style="display:none"></div>
		        <div class="response" id="mce-success-response" style="display:none"></div>
	          </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_0f23c7984541d915d1108a16e_cea96e36b0" tabindex="-1" value=""></div>
          </div>
          <!-- End mc_embed_signup-->
          
          
          <!--<input type="email" id="mce-EMAIL" placeholder="enter your email.."> -->
    	  <!--<a href="#message" class="button"> Get a free consultation → </a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END WEBDEV -->




